@model MyFinance.Models.TransactionCategory.IndexViewModel
@{ 
    ViewBag.Title = "Konta";
    
}

<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">Twoje konta</div>
    @await Component.InvokeAsync("AddCategory")
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Saldo</th>
            <th>Zablokowane</th>
            <th>Ilość transakcji</th>
            <th>Szczegóły</th>
        </tr>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td><a asp-action="Category" asp-controller="TransactionCategory" asp-route-id="@category.Id.ToString()"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a></td>
            </tr>
        }
    </table>
</div>

