@model MyFinance.Models.TransactionCategory.IndexViewModel
@{ 
    ViewBag.Title = "Konta";
    
}

<div class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">Twoje konta</div>
    @await Component.InvokeAsync("AddCateogory")
    <!-- Table -->
    @*<table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Saldo</th>
            <th>Zablokowane</th>
            <th>Ilość transakcji</th>
            <th>Szczegóły</th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td>@account.Amount</td>
                @if (account.IsBlocked)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>Nie</td>
                }
                <td>@account.Transactions.Count</td>
                @{
                    var dictionary = new Dictionary<string, string>
                            {
                                {"userName",User.Identity.Name },
                                {"id",account.Id.ToString() }
                            };
                }
                <td><a asp-action="Account" asp-controller="AppAccount" asp-all-route-data="dictionary"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a></td>
            </tr>
        }
    </table>*@
</div>

