.panel-heading {
    /*padding-bottom: 20px;*/
}

.Balance {
    float: right;
}

.Earnings {
}

.Expanses {
}

.period {
    float: right;
}

.dropdown {
    margin-right: 100px;
}
.datepicker{
    width:50%;
    text-align:center;
    color:black;
}
