body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.btn-logout {
    background: none !important;
    color: #777;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
    border-bottom: none;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 