@model MyFinance.Models.AppAccount.IndexViewModel
@{ 
    ViewBag.Title = "Konta";
}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Twoje konta</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                xD
            </tr>
        </thead>
    </table>
</div>

