@model MyFinance.Models.Account.LoginViewModel
<style>
    form {
        width:30%;
        margin-left:auto;
        margin-right:auto;
    }
    .btnDiv {
        text-align: center;
    }
    button{
        width:100%;
    }
    .RegisterSpan{
        text-align:center;
    }

</style>
<div class="container-fluid">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="@Model.UserName"></label>
            <input asp-for="@Model.UserName" type="text" class="form-control" placeholder="Nazwa użytkownika">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Hasło">
        </div>
        <div class="btnDiv">
            <button asp-action="Login" asp-controller="Account" class="btn btn-success" type="submit">
                Zaloguj się
            </button>
        </div>
    </form>
    <div class="RegisterSpan">
        <span>Nie masz konta? <a asp-action="Register" asp-controller="Account">zarejestruj się.</a></span>
    </div>
</div>

