@model MyFinance.Models.AppAccount.IndexViewModel
<style>
    .col-lg-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<form method="post">
    <div class="col-lg-12">
        <div class="input-group">
            <span class="input-group-btn">
                <button asp-action="Index" asp-controller="TransactionCategory" asp-route-userName="@User.Identity.Name" class="btn btn-success" type="submit">Dodaj kategorie</button>
            </span>
            @*<input asp-for="@Model.Name" type="text" class="form-control" placeholder="Nazwa konta">*@
        </div>
    </div>
</form>
